@font-face {
  font-family: 'MyFont';
  src:  url('../fonts/px_sans_nouveaux.ttf') format('truetype');
}

#app, html, body, .app-container {
  height: 100%;
  width: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: teal;
}

.clock {
  margin-right: 5px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-top: 1px solid #303030;
  border-left: 1px solid #303030;
  height: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90px;
  background-color: #bdbdbd;
  img {
    margin: 2px;
  }
}

.clock__text {
  margin-left: 10px;
  font-family: MyFont;
  font-size: 10px;
}

.break {
  height: 25px;
  margin-left: auto;
  margin-right: 3px;
  border-left: 1px solid #303030;
  border-right: 1px solid white;
  &--left {
    border-left: 1px solid #303030;
    height: 25px;
    border-right: 1px solid white;
    margin-left: 3px;
  }
}
